# {{NAME}}

A RosPanel plugin.

```sh
rospanel plugin test .      # run test.js
rospanel plugin dev .       # try it by hand, reloading on save
rospanel plugin pack .      # build {{ID}}.zip to install in the panel
```
